header {
    height: 80px;

    .top_header {
        height: 30px;
        text-align: center;
        font-weight: 600;
        line-height: 30px;
        border-bottom: 1px solid gray;
    }

    .container {
        padding: 0 10px;
        display: flex;
        align-items: center;

        .logo_box {
            margin-right: 50px;

            img {
                height:30px;
            }
        }

        .main_nav {
            ul {
                list-style-type: none;
        
                li {
                    display: inline-block;
                    font-size: 1.2em;
                    line-height: 50px;
                    margin-right: 10px;

                    a {
                        color: black;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}